@import 'tailwindcss' source(none);
@source '../**/*.{js,ts,jsx,tsx}';

@import 'tw-animate-css';

@theme {
  --font-sans: 'Inter', sans-serif;
  --font-heading: 'Sora', sans-serif;
  --font-serif: 'Playfair Display', serif;
}
